@charset "UTF-8";

*, *::before, *::after {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: 'Public Sans', sans-serif;
  scroll-behavior: smooth;
}

img, span, svg { display: block; }





/*-----------------------------------*\ 
  #MAIN
\*-----------------------------------*/

.container {
  max-width: 1440px;
  margin: auto;
}





/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

header {
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  background: var(--white);
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  padding: 20px var(--px);
}

.navbar-toggle-btn {
  display:        flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 20px;
}

.navbar-toggle-btn span {
  display: block;
  background: var(--dark-blue);
  width: 25px;
  height: 1px;
  transition: 0.25s ease;
}

.navbar-toggle-btn.active .one { transform: rotate(45deg) translateY(3px); }
.navbar-toggle-btn.active .two { display: none; }
.navbar-toggle-btn.active .three { transform: rotate(-45deg) translateY(-3px); }

.navbar-nav {
  position: fixed;
  background: var(--white);
  top:   60px;
  left:  20px;
  right: 20px;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 20px;
  padding: 40px 0;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.navbar-nav a {
  color: var(--dark-blue);
  display: block;
}

.navbar-nav.active {
  top: calc(60px + 20px);
  opacity: 1;
  box-shadow: 0 0 100px 100px hsla(233, 26%, 24%, 0.2);
  pointer-events: all;
}

.btn-primary {
  background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  color: var(--white);
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  display: block;
  margin: auto;
  transition: 0.25s ease;
}

.btn-primary:hover { opacity: 0.7; }

.navbar .btn-primary { display: none; }





/*-----------------------------------*\ 
  #HOME
\*-----------------------------------*/

main { overflow: hidden; }

.home {
  background: var(--very-light-gray);
  padding-bottom: 60px;
}

.home-img-box {
  background: url(./images/bg-intro-mobile.svg) no-repeat top;
  background-size: cover;
  padding: 0 15px;
  margin-bottom: 40px;
}

.home-img-box .home-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: bottom;
}

.home-title {
  font-size: 38px;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.home-text {
  margin: auto;
  color: var(--grayish-blue);
  text-align: center;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 30px;
  padding: 0 20px;
}





/*-----------------------------------*\ 
  #SERVICE
\*-----------------------------------*/

.service {
  padding: 60px var(--px);
  background: var(--light-grayish-blue);
}

.section-title {
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  color: var(--grayish-blue);
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.service-card-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.service-card { text-align: center; }

.service-card .card-icon {
  margin: auto;
  margin-bottom: 30px;
}

.service-card .card-title {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.service-card .card-text {
  font-size: 15px;
  color: var(--grayish-blue);
  line-height: 1.7;
}





/* 
/*-----------------------------------*\ 
  #RESPONSIVE
\*-----------------------------------*/


/*-----------------------------------*\ 
  #for large tablet
\*-----------------------------------*/

@media (min-width: 1024px) {

  /**
   * header 
   */

  header { position: static; }

  .navbar { padding: 0 var(--px); }

  .navbar-toggle-btn { display: none; }

  .navbar-nav {
    position: static;
    padding: 0;
    z-index: 0;
    flex-direction: row;
    gap: 30px;
    opacity: 1;
    pointer-events: all;
  }

  .navbar-nav a {
    font-size: 15px;
    color: var(--grayish-blue);
    padding: 30px 0;
    transition: 0.25s ease;
  }

  .navbar-nav a:hover {
    color: var(--dark-blue);
    box-shadow: inset 0 -3px 0 var(--lime-green);
  }

  .navbar .btn-primary {
    display: block;
    margin: 0;
  }



  /**
   * home 
   */

  .home {
    display:        flex;
    flex-direction: row-reverse;
    align-items:    center;
    padding: 0;
  }

  .home-img-box {
    width: 55%;
    background: url(./images/bg-intro-desktop.svg) no-repeat bottom left;
    background-size: 150%;
    margin:  0;
    padding: 0;
  }

  .home-img-box .home-img {
    width: 75%;
    transform: translate(250px, -10px) scale(1.3);
    aspect-ratio: unset;
  }

  .home .wrapper {
    width: 45%;
    padding-left: var(--px);
  }

  .home-title {
    font-size: 55px;
    text-align: left;
    padding: 0;
  }

  .home-text {
    text-align: left;
    margin:  0;
    padding: 0;
    margin-bottom: 30px;
    max-width: 450px;
  }

  .btn-primary { margin: 0; }




  /**
   * service 
   */

  .service { padding: 100px var(--px); }

  .section-title {
    text-align: left;
    font-size: 40px;
  }

  .section-text {
    text-align: left;
    max-width: 650px;
    margin: 0;
    margin-bottom: 80px;
  }

  .service-card-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
  }

  .service-card { text-align: left; }

  .service-card .card-icon {
    margin: 0;
    margin-bottom: 30px;
  }

  .service-card .card-title { font-size: 24px; }

  .service-card .card-text { font-size: 16px; }



/*-----------------------------------*\ 
  #for laptop
\*-----------------------------------*/

@media (min-width: 1200px) {

  :root { --px: 160px; }

} 
}